<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/UserController.js"></script>
    <script src="js/app/UserService.js"></script>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app/app.css"/>

    <title>R & D Web Application</title>

</head>
<body>

</body>
</html>